
.cover{
    width: 100%;
    height: 100%;
    z-index: 1;
    background: white;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    align-items: center;
}
::-webkit-scrollbar {
    width: 10%;
}
.headcover{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar{
    position: absolute;
    right: 2%;
    z-index: 2;
    top: 0;
}
.mainnavbar{
    position: absolute;
    left: 2%;
    z-index: 2;
    top: 0;
}
.editorarea{
    width: 100%;
    margin-bottom: 100px;
    max-height: 60%;
}
.title{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Acme', sans-serif;
    text-shadow: -1px 1px 1px rgb(122 122 122);
    margin-top: 9px;
    margin-bottom: 4px;
}
span{
    color: rgb(196, 4, 230); 
}
.savebutton{
    padding: 6px 30px;
    background: rgb(224, 51, 255);
    margin-left: 4px;
    
    font-family: 'Gemunu Libre', sans-serif;
}
.savebutton:hover{
    background: rgb(142, 3, 167);
}
.cancelbutton{
    padding: 6px 30px;
    background: rgb(255, 87, 57);
    margin-left: 4px;
        font-family: 'Gemunu Libre', sans-serif;
}
.cancelbutton:hover{
    background: rgb(224, 50, 19);
}

.buttoncover{
    display: flex;
    margin-top: 10px;
    justify-content: end;
}
.name{
    color: orange;
    font-family: 'Acme', sans-serif;
    font-weight: 800;
    margin-bottom: -5px;
    text-shadow: -1px 1px 1px rgb(152 87 2);
    width: 100%;
    z-index: 1;
}
.namecover{
    width: 10%;
    background: white;
    display: flex;
    justify-content: center;
}
.toolbar{
    flex: 1;
    border: 1px solid #ccc;
    padding: 7px 8px;
    outline: none;
    font-weight: 600;
    font-size: 15px;
    color: orange;
    transition: 0.3s ease;
    font-family: 'Acme', sans-serif;
}
.toolbar:focus{
    border: 2px solid rgb(237, 136, 255);
    background: rgba(248, 248, 248, 0.347);
    color: rgb(142, 3, 167);
}
.area{
    height: 100%;
}

.topright{
    background: linear-gradient(45deg, orange , rgb(255, 177, 32));
    position: absolute;
    width: 30%;
    height: 30%;
    top: 0px;
    left: 0px;
  }
  .bottomleft{
    background: linear-gradient(15deg, rgb(1, 113, 125) , rgb(149, 245, 230));
    position: absolute;
    width: 70%;
    height: 70%;
    bottom: 0px;
    right:  0px;
  }