.nav {
  position: fixed;
  bottom: 0vh;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  align-items: center;
  z-index: 50;
  padding: 0;
  box-shadow: 0 -2px 3px rgb(177, 177, 177);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.link {
  text-decoration: none;
  font-size: 1.4rem;
  display: flex;
  height: 45px;
  width: 71px;
  align-items: center;
  justify-content: center;
  color: darkgray;
  border: none;
  overflow: hidden;
  outline: none;
  transition: color 200ms ease-out;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.15em;
  background-color: orange;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.link::after {
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
}

.link:hover::after,
.link:focus::after,
.activeLink::after {
  transform: translate3d(0, 0, 0) !important;
}
.profilePic {
  margin: 5px 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: lightgray;
}

.profilePic img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.hasNotifi {
  color: red;
}
.link :hover {
  filter: brightness(95%);
}
.activeLink {
  color: orange;
}
