.select {
  border: none;
  border-bottom: 2px solid transparent;
  background-color: rgba(223, 223, 223, 0.432);
  outline: none;
  width: 100%;
  padding: 9.5px 11px;
  font-size: medium;
  border-radius: 40px;
  transition: background-color 200ms ease-out, border-color 200ms ease-out,
    color 200ms ease-out;
}
.select:focus,
.select:hover {
  color: black;
  background-color: white;
  border-color: orange;
}
.invalid:focus,
.invalid:hover {
  color: white;
  background-color: rgba(233, 0, 0, 0.719);
}
.invalid {
  background-color: rgba(255, 0, 0, 0.425) !important;
  border-color: red;
}

.select:disabled {
  background: rgba(143, 143, 143, 0.61);
  cursor: not-allowed;
}
.select:disabled:hover {
  border-bottom: 2px solid transparent;
}
