.welcome{
  overflow: hidden;
  width: 100%;
  background: rgb(243, 243, 243);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topright{
  background: linear-gradient(45deg, orange , rgb(255, 177, 32));
    position: absolute;
    width: 60%;
    height: 70%;
    top: 0px;
    right: 0px;
}
.bottomleft{
  background: linear-gradient(15deg, rgb(1, 113, 125) , rgb(149, 245, 230));
  position: absolute;
  width: 30%;
  height: 30%;
  bottom: 0px;
  left: 0px;
}
.btn{
  display: flex;
  flex-direction: column;
  width: 60%;
}
.or{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 5px;
  margin-bottom:7px ;
}
.board{
  width: 90%;
  height: 85%;
  border: 4px solid orange;
  box-shadow: 0px 0px 68px -10px black;
  display: flex;
  z-index: 1;
}
.right{
  flex: 0.7;
  color: white;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
  flex: 0.3 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(35deg, rgb(255, 180, 40), rgb(250, 164, 6));
}
.navbar{
  position: absolute;
  left: 2%;
  z-index: 2;
  top: 0;
}
img{
  width: 100%;
  height: 100%;
  opacity: 0.08;
}
.bottomimg{
  position: absolute;
  width: 16%;
  bottom: 0;
  left: 0;
}
.btn button{
  background: rgb(247, 247, 247);
  color: rgb(4, 142, 193);
  transition: 0.3s ease;
}
.btn button:hover{
  color: rgb(247, 247, 247);
  background: rgb(0, 186, 253);

}
.btn button:focus {
  transform: scale(0.95);
  color: rgb(247, 247, 247);
  background: rgb(0, 156, 159);
}
.quote{
  font-family: 'Acme', sans-serif;
  background: transparent;
  position: absolute;
  height: 80%;
  width: 56%;
  justify-content: center;
  display: flex;
  align-items: center;
  color: white;
  font-size: 50px;
  text-align: center;
  font-weight: 600;
  flex-direction: column;
  z-index: 2;
}
.circlewelcome_cover{
  position: absolute;
  width: 95%;
  height: 85%;
  bottom: 0;
  overflow: hidden;
  display: none;
}
.circlewelcome{
  width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(35deg,  rgb(255, 180, 40), rgb(250, 164, 6));
    transform: translate(-9%, 15%);
}
.span{
  font-size: 150px;
  text-shadow: 0px 15px 20px black;
  
}
@media screen and (max-width: 1200px) {
  .quote{
    font-size: 40px;
  }
  .span{
    font-size: 120px;
  }
  .btn{
    width: 90%;
  }
}
@media screen and (max-width: 800px) {
  .board{
    width: 95%;
    height: 95%;
  }
  .left{
    width: 100%;
    flex: 1;
    z-index: 3;
    background: transparent;
  }
  .right{
    position: absolute;
    width: 95%;
    height: 95%;
    flex: 1;
  }
  .btn{
    display: flex;
    align-items: center;
    z-index: 3;
  }
  .btn button{
    width: 60%;
  }
  .quote{
    top: 0;
    height: 35%;
    z-index: 3;
  }
  .bottomimg{
    bottom: 7%;
    left: 0%;
    width: 39%;
  }
  .circlewelcome_cover{
    display: block;
  }
}