.waiting {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.waiting h2 {
  font-weight: 400;
}
.standbyActions :first-child {
  border-radius: 10px 0px 0px 10px;
  margin-right: 5px;
}
.standbyActions :last-child {
  border-radius: 0px 10px 10px 0px;
}
.sendEmail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: center;
}
.form button {
  width: 100px;
  margin-bottom: 10px;
}
.form input {
  border-radius: 20px 0px 0px 20px;
}
.sendEmail i {
  color: rgb(255, 136, 0);
  font-size: 2.6rem;
}
.sendEmail h2 {
  font-weight: 400;
  text-align: center;
}
.standbyActions {
  display: flex;
  justify-content: center;
}
