.maincard {
  background: rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  border-radius: 6px;
  transition: 0.5s ease;
  padding: 0px;
  box-shadow: 0px 0px 5px 1px grey;
  border: none;
}
.addcard {
  background: rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 420px;
  border-radius: 6px;
  transition: 0.5s ease;
  cursor: pointer;
  padding: 0px;
  box-shadow: 0px 0px 5px 1px grey;
  border: none;
}
.top {
  width: 100%;
  flex: 0.1 1;
  background: rgb(167, 109, 0);
  display: flex;
}
.files {
  width: 90%;
  color: rgb(44, 44, 44);
  display: flex;
  justify-content: start;
  font-weight: 500;
  text-align: left;
  font-family: "Gemunu Libre", sans-serif;
  background: rgb(255, 204, 109);
  border: none;
  padding: 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  cursor: pointer;
  transition: 0.2s ease;
}
.files:hover {
  background: rgb(8, 164, 255);
  color: white;
}
.bottom {
  width: 100%;
  flex: 0.9 1;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.filescover {
  width: 0%;
  height: 0%;
  display: none;
  flex-direction: column;
  transform: rotateY(180deg);
  background: orange;
}
.cover {
  width: 100%;
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.1s ease-in;
}

.imagecont {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 60%;
  transition: 0.1s ease-in;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  overflow: hidden;
  transition: 0.1s ease-in;
}
.title {
  border-top: 2px solid rgb(253, 185, 39);
  font-size: 20px;
  width: 80%;
  font-weight: 700;
  color: rgb(83, 83, 83);
  display: flex;
  justify-content: center;
  padding-top: 5px;
  height: 8%;
}
.gap {
  width: 100%;
  height: 2%;
}
.desc {
  color: rgb(184, 184, 184);
  display: flex;
  text-align: center;
  height: 26%;
  overflow-y: scroll;
  padding: 0px 10px;
}
.addcont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addicon {
  font-size: 61px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 179, 255);
  color: white;
  border-radius: 50%;
  transition: 0.2s ease-in;
}
.addcard:hover .addicon {
  background: orange;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: 1;
  box-shadow: 0px 0px 10px 1px grey;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
.option {
  width: 100%;
  background: rgb(13, 208, 218);
  height: 10%;
  display: flex;
}
.buttons {
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.buttons:hover {
  background: orange;
}
.fileoption {
  width: 100%;
  background: rgb(255, 204, 109);
  border: none;
  border-top: 2px solid rgb(8, 164, 255);
  color: rgb(66, 144, 189);
  margin-bottom: 10px;
  padding: 5px 0px;
  transition: 0.2s ease;
  cursor: pointer;
}
.shareoption{
  border-bottom-left-radius: 6px;
}
.deleteoption{
  border-bottom-right-radius: 6px;
}
.fileoption:hover {
  background: rgb(8, 164, 255);
  color: white;
}
.allCardCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileCardCon {
  width: 100%;
  display: flex;
  justify-content: center;
}
.fileoptionCardCon{
  display: flex;
  width: 90%;
}
.shareCardCon{
  flex: 1;
}
.deleteCardCon {
  display: flex;
    justify-content: center;
    flex: 1;
}
.modal{
  width: 80%;
  height: 80%;
}

