.textarea {
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  padding: 10px;
  width: calc(100% - 20px);
  font-family: Arial, Helvetica, sans-serif1;
  font-size: 15px;
  background-color: rgba(223, 223, 223, 0.432);
  border-radius: 17px;
  transition: background-color 200ms ease-out !important;
  transition: border-color 200ms ease-out;
  transition: color 200ms ease-out;
}
.textarea:hover,
.textarea:focus {
  background-color: white;
  border-bottom: 2px solid orange;
}
.textarea::placeholder {
  color: rgba(143, 143, 143, 0.61);
}
.textarea.invalid {
  background-color: rgba(255, 0, 0, 0.425);
  border-color: red;
}
.textarea.invalid:hover,
.textarea.invalid:focus {
  background-color: rgba(233, 0, 0, 0.719);
  color: white;
}
